# Python Evaluation - Beginners - Set 1

# ------------------------------------------------
### Your name: Sandesh Bharitkar
# 
# ------------------------------------------------

## Section 1: MCQs

1. There are 22 questions
2. Add an empty cell after each question and just write the correct option(s)
3. It is recommended (not mandatory) to complete these within 30 mins 
4. Few questions can have multiple options correct, wherein you have to mark all of the correct ones. No marks awarded for partial correct answers
5. No negative marking. Go crazy

1. What is the output of the following loop
   for l in 'Jhon':
   if l == 'o':
      pass
   print(l, end=", ")

  a) J, h, n,
  b) J, h, o, n,
  c) J, h,
  d) Syntax Error

In [ ]:
b

2. Given a function that does not return any value, What value is thrown by default when executed in shell.

    a) int
    b) bool
    c) void
    d) None

In [ ]:
c

3. What is the output of print('[%c]' % 65)
   
   a) 65
   b) A
   c) [A]
   d) Syntax Error

In [ ]:
c

4. Which of the following is an invalid statement?

   a) abc = 5,000,000
   b) a b c = 500 2000 3000
   c) a,b,c = 500, 2000, 3000
   d) a_b_c = 1,000,000

In [ ]:
b

5. What will be the output of the following Python code?
    i = 1
    while True:
        if i%3 == 0:
            break
        print(i)

        i + = 1
        
   a) 1 2
   b) 1 2 3
   c) error
   d) none of the mentioned

In [ ]:
d 

Infinite Loop

6. What is the output of this code?
   a,b = 1,0
   a = a^b
   b = a^b
   a = a^b
   print(a)

In [ ]:
0

7. What is the value of the var after the for loop completes its execution
    var = 10
    for i in range(10):
        for j in range(2, 10, 1):
            if var % 2 == 0:
                continue
                var += 1
        var+=1
    else:
        var+=1
    print(var)
    
   a) 20
   b) 21
   c) 10
   d) 30

In [ ]:
d

8. What is the output of the following string comparison
    print("John" > "Jhon")
    print("Emma" < "Emm")
    
   a) True
      False
   b) False
      False

In [ ]:
a

9. Guess the correct output of the following code?
    str1 = "PYnative"
    print(str1[1:4], str1[:5], str1[4:], str1[0:-1], str1[:-1])
    
  a) PYn PYnat ive PYnativ vitanYP
  b) Yna PYnat tive PYnativ vitanYP
  c) Yna PYnat tive PYnativ PYnativ

In [ ]:
c

10. What is the output of the following set operation
    set1 = {"Yellow", "Orange", "Black"}
    set2 = {"Orange", "Blue", "Pink"}

    set1.difference_update(set2)
    print(set1)
    
   a) {‘Black’, ‘Yellow’}
   b) {‘Yellow’, ‘Orange’, ‘Black’, ‘Blue’, ‘Pink’}

In [ ]:
a

11. What will be the output of the following Python code snippet?
    test = {1:'A', 2:'B', 3:'C'}
    del test[1]
    test[1] = 'D'
    del test[2]
    print(len(test))
    
    a) 0
    b) 2
    c) Error as the key-value pair of 1:’A’ is already deleted
    d) 1

In [ ]:
b

12. Suppose d = {“john”:40, “peter”:45}, what happens when we try to retrieve a value using the expression d[“susan”]?

  a) Since “susan” is not a value in the set, Python raises a KeyError exception
  b) It is executed fine and no exception is raised, and it returns None
  c) Since “susan” is not a key in the set, Python raises a KeyError exception
  d) Since “susan” is not a key in the set, Python raises a syntax error

In [ ]:
c

13. Is the following Python code valid?
    a={3,4,{7,5}}
    print(a[2][0])
    
    a) Yes, 7 is printed
    b) Error, elements of a set can’t be printed
    c) Error, subsets aren’t allowed
    d) Yes, {7,5} is printed

In [ ]:
c

14. What is the output of the following list comprehension
   resList = [x+y for x in ['Hello ', 'Good '] for y in ['Dear', 'Bye']]
   print(resList)

  a) [‘Hello Dear’, ‘Hello Bye’, ‘Good Dear’, ‘Good Bye’]
  b) [‘Hello Dear’, ‘Good Dear’, ‘Hello Bye’, ‘Good Bye’]

In [ ]:
a

15. What is the output of the following
   l = [None] * 10
   print(len(l))
   
   a) 10
   b) 0
   c) Syntax Error

In [ ]:
a

16. Please select all correct ways to empty the following dictionary
    student = { 
      "name": "Emma", 
      "class": 9, 
      "marks": 75 
    }
    
    a) del student
    b) del student[0:2]
    c) student.clear()

In [ ]:
c

17. Choose the correct way to access value 20 from the following tuple
   aTuple = ("Orange", [10, 20, 30], (5, 15, 25))

    a) aTuple[1:2][1]
    b) aTuple[1:2](1)
    c) aTuple[1:2][1]
    d) aTuple[1][1]

In [ ]:
d

18. What is the output of the following code
   list1 = ['xyz', 'zara', 'PYnative']
   print (max(list1))

   a) PYnative
   b) zara
   c) 8
   d) Syntax Error

In [ ]:
b

19. What will be the output of the following Python code?
    def writer():
        title = 'Sir'
        name = (lambda x:title + ' ' + x)
        return name

    who = writer()
    who('Arthur')
    
    a) Arthur Sir
    b) Sir Arthur
    c) Arthur
    d) None of the mentioned

In [ ]:
b

20. Select true statements regarding the Python tuple
   
    a) We can remove the item from tuple but we cannot update items of the tuple
    b) We cannot delete the tuple
    c) We cannot remove the items from the tuple
    d) We cannot update items of the tuple

In [ ]:
c

21. What is the output of the following display() function call
    def display(**kwargs):
        for i in kwargs:
            print(i)
    display(emp="Kelly", salary=9000)
    
    a) TypeError
    b) Kelly
       9000
    c) (’emp’, ‘Kelly’)
       (‘salary’, 9000)
    d) emp
       salary

In [ ]:
d

22. Select which is true for Python function

    a) A Python function can return only a single value
    b) A function can take an unlimited number of arguments.
    c) A Python function can return multiple values
    d) Python function doesn’t return anything unless and until you add a return statement

In [ ]:
d

# -------------------------------------------------------

## Section 2: Coding Exercises

1. There are 2 questions - each having few subquestions
2. Add empty cells after each question and write the code. You can execute the code any number of times
3. There are multiple ways in which each question can be answered. You will be evaluated on approach, even if the final answer is not correct
4. Use only pandas, numpy and any base Python functions. Try not to use any extra python packages

# -------------------------------------------------------

### 1. Consider the paragraph below and write scripts to satisfy the questions that follow.

"I mean, nobody wishes more than I do that it had all been quick and clean, and my head had come off properly, I mean, it would have saved me a great deal of pain and ridicule. However, Nearly Headless Nick shook his letter open and read furiously: We can only accept huntsmen whose heads have parted company with their bodies. You will appreciate that it would be impossible otherwise for members to participate in hunt activities such as Horseback Head-Juggling and Head Polo. It is with the greatest regret, therefore, that I must inform you that you do not fulfill our requirements. With very best wishes, Sir Patrick Delaney-Podmore."

#### 1.1. Store the above paragraph in a variable and split them to get all words in a list

In [29]:
var = "I mean, nobody wishes more than I do that it had all been quick and clean, and my head had come off properly, I mean, it would have saved me a great deal of pain and ridicule. However, Nearly Headless Nick shook his letter open and read furiously: We can only accept huntsmen whose heads have parted company with their bodies. You will appreciate that it would be impossible otherwise for members to participate in hunt activities such as Horseback Head-Juggling and Head Polo. It is with the greatest regret, therefore, that I must inform you that you do not fulfill our requirements. With very best wishes, Sir Patrick Delaney-Podmore."

In [30]:
import re
var = re.sub('[^A-Za-z0-9]+',' ',var)
var

'I mean nobody wishes more than I do that it had all been quick and clean and my head had come off properly I mean it would have saved me a great deal of pain and ridicule However Nearly Headless Nick shook his letter open and read furiously We can only accept huntsmen whose heads have parted company with their bodies You will appreciate that it would be impossible otherwise for members to participate in hunt activities such as Horseback Head Juggling and Head Polo It is with the greatest regret therefore that I must inform you that you do not fulfill our requirements With very best wishes Sir Patrick Delaney Podmore '

In [31]:
import pandas as pd
import numpy as np

In [40]:
list_var = list(var.split(" "))

In [33]:
type(list_var)
list_var

['I',
 'mean',
 'nobody',
 'wishes',
 'more',
 'than',
 'I',
 'do',
 'that',
 'it',
 'had',
 'all',
 'been',
 'quick',
 'and',
 'clean',
 'and',
 'my',
 'head',
 'had',
 'come',
 'off',
 'properly',
 'I',
 'mean',
 'it',
 'would',
 'have',
 'saved',
 'me',
 'a',
 'great',
 'deal',
 'of',
 'pain',
 'and',
 'ridicule',
 'However',
 'Nearly',
 'Headless',
 'Nick',
 'shook',
 'his',
 'letter',
 'open',
 'and',
 'read',
 'furiously',
 'We',
 'can',
 'only',
 'accept',
 'huntsmen',
 'whose',
 'heads',
 'have',
 'parted',
 'company',
 'with',
 'their',
 'bodies',
 'You',
 'will',
 'appreciate',
 'that',
 'it',
 'would',
 'be',
 'impossible',
 'otherwise',
 'for',
 'members',
 'to',
 'participate',
 'in',
 'hunt',
 'activities',
 'such',
 'as',
 'Horseback',
 'Head',
 'Juggling',
 'and',
 'Head',
 'Polo',
 'It',
 'is',
 'with',
 'the',
 'greatest',
 'regret',
 'therefore',
 'that',
 'I',
 'must',
 'inform',
 'you',
 'that',
 'you',
 'do',
 'not',
 'fulfill',
 'our',
 'requirements',
 'With',
 'very',
 'best',
 'wishes',
 'Sir',
 'Patrick',
 'Delaney',
 'Podmore',
 '']

#### 1.2. Get only unique words from this list

In [34]:
Copy_list = set(list_var)

In [35]:
unique_list = list(Copy_list)
print("Unique Values are - " + str(len(unique_list)) + " from " + str(len(list_var)))

Unique Values are - 92 from 113

In [41]:
smallList = []
for valText in list_var:
    smallList.append(valText.lower())

In [42]:
unqlist = []
for valText in smallList:
    if valText not in unqlist:
        unqlist.append(valText)
unqlist

['i',
 'mean',
 'nobody',
 'wishes',
 'more',
 'than',
 'do',
 'that',
 'it',
 'had',
 'all',
 'been',
 'quick',
 'and',
 'clean',
 'my',
 'head',
 'come',
 'off',
 'properly',
 'would',
 'have',
 'saved',
 'me',
 'a',
 'great',
 'deal',
 'of',
 'pain',
 'ridicule',
 'however',
 'nearly',
 'headless',
 'nick',
 'shook',
 'his',
 'letter',
 'open',
 'read',
 'furiously',
 'we',
 'can',
 'only',
 'accept',
 'huntsmen',
 'whose',
 'heads',
 'parted',
 'company',
 'with',
 'their',
 'bodies',
 'you',
 'will',
 'appreciate',
 'be',
 'impossible',
 'otherwise',
 'for',
 'members',
 'to',
 'participate',
 'in',
 'hunt',
 'activities',
 'such',
 'as',
 'horseback',
 'juggling',
 'polo',
 'is',
 'the',
 'greatest',
 'regret',
 'therefore',
 'must',
 'inform',
 'not',
 'fulfill',
 'our',
 'requirements',
 'very',
 'best',
 'sir',
 'patrick',
 'delaney',
 'podmore',
 '']

In [43]:
print("Unique Values are - " + str(len(unqlist)) + " from " + str(len(list_var)))

Unique Values are - 88 from 113

In [44]:
unqlist

['i',
 'mean',
 'nobody',
 'wishes',
 'more',
 'than',
 'do',
 'that',
 'it',
 'had',
 'all',
 'been',
 'quick',
 'and',
 'clean',
 'my',
 'head',
 'come',
 'off',
 'properly',
 'would',
 'have',
 'saved',
 'me',
 'a',
 'great',
 'deal',
 'of',
 'pain',
 'ridicule',
 'however',
 'nearly',
 'headless',
 'nick',
 'shook',
 'his',
 'letter',
 'open',
 'read',
 'furiously',
 'we',
 'can',
 'only',
 'accept',
 'huntsmen',
 'whose',
 'heads',
 'parted',
 'company',
 'with',
 'their',
 'bodies',
 'you',
 'will',
 'appreciate',
 'be',
 'impossible',
 'otherwise',
 'for',
 'members',
 'to',
 'participate',
 'in',
 'hunt',
 'activities',
 'such',
 'as',
 'horseback',
 'juggling',
 'polo',
 'is',
 'the',
 'greatest',
 'regret',
 'therefore',
 'must',
 'inform',
 'not',
 'fulfill',
 'our',
 'requirements',
 'very',
 'best',
 'sir',
 'patrick',
 'delaney',
 'podmore',
 '']

#### 1.3. Create a dictionary from the list with *keys* = all unique words and *values* = frequency of occurrence of each word

In [45]:
dict_unique = dict()
for key_val in unqlist:
    dict_unique.update({key_val : smallList.count(key_val)})

In [46]:
smallList.count('i')

4

#### 1.4. Create a pandas dataframe from this dictionary with columns *keys* and *values* and sort descending of values

In [47]:
#pd.DataFrame.from_dict(dict_unique ,orient='index',columns=['keys', 'values'])
df= pd.DataFrame([dict_unique.keys(), dict_unique.values()]).T
df.columns= ['keys', 'values']

In [48]:
df.head()

     keys values
0       i      4
1    mean      2
2  nobody      1
3  wishes      2
4    more      1

In [55]:
df_sort = df.sort_values(by=['values'])
df_sort.head()

           keys values
43       accept      1
63         hunt      1
62           in      1
61  participate      1
60           to      1

In [57]:
dict_unique["i"]

4

In [61]:
x = dict_unique.values()

In [64]:
xlist = list(x)

In [65]:
tlist = tuple(xlist)

In [66]:
type(tlist)

tuple

In [67]:
sumval = 0
for xval in tlist:
    sumval = sumval + xval
sumval

113

#### 1.5. Create a tuple of only the *values* from the dictionary and find the sum to get total count of words

In [53]:
a_view = dict_unique.items()
a_list = list(a_view)
t_list = tuple(a_list)
print(t_list)

(('i', 4), ('mean', 2), ('nobody', 1), ('wishes', 2), ('more', 1), ('than', 1), ('do', 2), ('that', 4), ('it', 4), ('had', 2), ('all', 1), ('been', 1), ('quick', 1), ('and', 5), ('clean', 1), ('my', 1), ('head', 3), ('come', 1), ('off', 1), ('properly', 1), ('would', 2), ('have', 2), ('saved', 1), ('me', 1), ('a', 1), ('great', 1), ('deal', 1), ('of', 1), ('pain', 1), ('ridicule', 1), ('however', 1), ('nearly', 1), ('headless', 1), ('nick', 1), ('shook', 1), ('his', 1), ('letter', 1), ('open', 1), ('read', 1), ('furiously', 1), ('we', 1), ('can', 1), ('only', 1), ('accept', 1), ('huntsmen', 1), ('whose', 1), ('heads', 1), ('parted', 1), ('company', 1), ('with', 3), ('their', 1), ('bodies', 1), ('you', 3), ('will', 1), ('appreciate', 1), ('be', 1), ('impossible', 1), ('otherwise', 1), ('for', 1), ('members', 1), ('to', 1), ('participate', 1), ('in', 1), ('hunt', 1), ('activities', 1), ('such', 1), ('as', 1), ('horseback', 1), ('juggling', 1), ('polo', 1), ('is', 1), ('the', 1), ('greatest', 1), ('regret', 1), ('therefore', 1), ('must', 1), ('inform', 1), ('not', 1), ('fulfill', 1), ('our', 1), ('requirements', 1), ('very', 1), ('best', 1), ('sir', 1), ('patrick', 1), ('delaney', 1), ('podmore', 1), ('', 1))

In [54]:
dict_unique.items().count()

AttributeError: 'dict_items' object has no attribute 'count'

In [51]:
print(type(t_list))

<class 'tuple'>

In [52]:
sum(list(map(sum, list(t_list))))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

#### 1.6. Validate the count of words obtained from the tuple and total count of words from pandas dataframe

In [47]:
df.sum(axis = 0, skipna = True)

keys      musthadHeadlesstocansuchbeenHeadaNickletterasc...
values                                                  110
dtype: object

#### 1.7. Write a function that takes count as input and gives output of list of words having the specific user entry count
Example:

Input: 4

Output: ['I', 'that']

Please note that the output is in the form of list

# -------------------------------------------------------

### 2. Consider the following list of teams: ['Aus', 'Ind', 'Pak']
    
    Write a code to get the list of all unique matches that can be played among these teams.
    The output of your code should be:
    Aus vs Ind
    Ind vs Pak
    Aus vs Pak
    
    Please note that matches should not get repeated. (Aus vs Ind) and (Ind vs Aus) are considered to be the same match. 
    
    Make your code dynamic, so that when more number of teams are added in the list, the code generates appropriate results. You can test your code with the following list entry:    
    ['Aus', 'Ind', 'RSA', 'NZ', 'Eng', 'Pak']

In [58]:
list_country = ['Aus', 'Ind', 'RSA', 'NZ', 'Eng', 'Pak']
#dup = []
#flag = True
for x in list_country:
    for y in list_country:
        if x != y:
            #flag = True
            #for z in dup:
             #   if (x+y) == z:
              #      flag = False
               #     break
                #if flag == True:
                 #   dup.appendup(x+y)
                    print(x + " vs " + y )

Aus vs Ind
Aus vs RSA
Aus vs NZ
Aus vs Eng
Aus vs Pak
Ind vs Aus
Ind vs RSA
Ind vs NZ
Ind vs Eng
Ind vs Pak
RSA vs Aus
RSA vs Ind
RSA vs NZ
RSA vs Eng
RSA vs Pak
NZ vs Aus
NZ vs Ind
NZ vs RSA
NZ vs Eng
NZ vs Pak
Eng vs Aus
Eng vs Ind
Eng vs RSA
Eng vs NZ
Eng vs Pak
Pak vs Aus
Pak vs Ind
Pak vs RSA
Pak vs NZ
Pak vs Eng

In [68]:
list_country = ['Aus', 'Ind', 'RSA', 'NZ', 'Eng', 'Pak']

In [85]:
i=-1
for xval in list_country:
    i=i+1
    for yval in range(i,len(list_country)):
        if list_country[yval] != xval:
            print(xval + " vs " + list_country[yval])

Aus vs Ind
Aus vs RSA
Aus vs NZ
Aus vs Eng
Aus vs Pak
Ind vs RSA
Ind vs NZ
Ind vs Eng
Ind vs Pak
RSA vs NZ
RSA vs Eng
RSA vs Pak
NZ vs Eng
NZ vs Pak
Eng vs Pak

In [83]:
list_country[1]

'Ind'